.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}
.container{
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  padding: 20px;
  flex-direction: column;
  height: 80vh;
}
.todoForm{
  display: flex;
  width: 450px;
  justify-content: space-around;
}
input{
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline: none;
}
button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  transition: .4s;
}
button:hover{
  background-color: #818389;
  color: white;
  cursor: pointer;
}
.edit{
  width: px;
}
.edit:hover{
  background-color: rgb(37, 241, 37);
  
}
.delete:hover{
  background-color: rgb(251, 59, 59);
}
.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleTodo{
  margin: 12px 0px;
  background-color: #5dadf8;
  padding: 10px 20px;
  border-radius: 10px;
  width: 450px;
  display: flex;
  align-items: center;
}
.todoText{
  flex: 1;
}
.clearAll{
  margin-top: 20px;
  transition: .2s ease-in;
}
.clearAll:hover{
  background-color: rgb(251, 59, 59);
}
